# Dependencias
node_modules/

# idea
.idea/
# Expo
.expo/
dist/
web-build/

# Carpetas nativas generadas por prebuild
android/
ios/



# Archivos de build compilados
android/.gradle
android/build
android/app/build
android/app/.cxx

# Variables de entorno
.env
.env.local
.env.production

# Certificados y claves
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# npm
npm-debug.*

# macOS
.DS_Store

# Metro
.metro-health-check*

# TypeScript
*.orig.*